@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Navbar {
    text-align: right;
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.212);
}

.Navbar h1 {
    padding: 0;
    margin: 0;
    margin-right: calc(50% - 405px);
    display: inline-block;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

ul {
    display: inline-block;
    padding: 0px;
    padding-right: 80px;
    margin: 0px;
    height: 100%;
    vertical-align: top;
}

li {
    list-style: none;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

